<div class="container-fluid">
  <div class="d-flex justify-content-between mb-3 mt-4">
    <div class="title-header d-flex gap-2">
      <i class="fa fa-cog"></i>
      <span style="font-size: 20px;  font-weight: bold;">Thiết lập email</span>
    </div>
    <div class="button-header d-flex gap-2">
      <p-button
        label="Lưu"
        severity="success"
        icon="pi pi-save"
        iconPos="right"
        size="small"
        (onClick)="onSave.emit()"
      ></p-button>

      <p-button
        label="Làm mới"
        icon="pi pi-sync"
        iconPos="right"
        size="small"
        [ngClass]="'btn-light btn-sm'"
        (onClick)="onReload.emit()"
      ></p-button>
    </div>
  </div>

  <div class="row" style="margin-bottom:10px">
    <div class="col-md-6">
      <p-fieldset legend="Công việc" [toggleable]="true">
        <ng-container *ngTemplateOutlet="categoryTable; context: { data: categories }"></ng-container>
      </p-fieldset>
    </div>

    <div class="col-md-6">
      <p-fieldset legend="Data" [toggleable]="true">
        <ng-container *ngTemplateOutlet="categoryTable; context: { data: categories }"></ng-container>
      </p-fieldset>
    </div>
  </div>

  <!-- Ng-template tái sử dụng bảng danh mục -->
  <ng-template #categoryTable let-data="data">
    <p-table [value]="data" class="category-list">
      <ng-template pTemplate="body" let-category>
        <!-- Danh mục cha -->
        <tr class="category-parent">
          <td class="checkbox-text">
            <p-checkbox
              [binary]="true"
              [ngModel]="isParentSelected(category)"
              (onChange)="toggleParentCategory(category)"
            ></p-checkbox>
            {{ category.name }}
          </td>
        </tr>

        <!-- Danh mục con -->
        <ng-container *ngIf="category.children">
          <ng-container *ngFor="let child of category.children">
            <tr class="category-child">
              <td style="padding-left: 30px" class="checkbox-text">
                <p-checkbox
                  [binary]="true"
                  [ngModel]="selectedCategories.includes(child.key)"
                  (onChange)="onCheckboxChange(child.key, $event)"
                ></p-checkbox>
                {{ child.name }}
              </td>
            </tr>

            <!-- Danh mục con cấp 2 -->
            <ng-container *ngIf="child.children">
              <ng-container *ngFor="let subChild of child.children">
                <tr class="category-subchild">
                  <td style="padding-left: 50px" class="checkbox-text">
                    <p-checkbox
                      [binary]="true"
                      [ngModel]="selectedCategories.includes(subChild.key)"
                      (onChange)="onCheckboxChange(subChild.key, $event)"
                    ></p-checkbox>
                    {{ subChild.name }}
                  </td>
                </tr>
              </ng-container>
            </ng-container>
          </ng-container>
        </ng-container>
      </ng-template>
    </p-table>
  </ng-template>
</div>
