<div class="container-fluid">
  <!-- Header -->
  <div class="d-flex justify-content-between mb-3 mt-5">
    <div class="title-header d-flex gap-2">
      <i class="fa fa-cog"></i>
      <span style="font-size:15px">Thiết lập email</span>
      <p-dropdown 
      [options]="emailOptions" 
      [(ngModel)]="selectedEmailOption"
      placeholder="Công việc"
      styleClass="custom-dropdown"
    ></p-dropdown>
    </div>
    <div class="button-header d-flex gap-2">
      <p-button
        label="Lưu"
        severity="success"
        icon="pi pi-save"
        iconPos="right"
        size="small" 
        (onClick)="onSave.emit()"
      ></p-button>

      <p-button
        label="Làm mới"
        icon="pi pi-sync"
        iconPos="right"
        size="small" 
        [ngClass]="'btn-light btn-sm'"
        (onClick)="onReload.emit()"
      ></p-button>
    </div>
  </div>

  <!-- Bảng danh mục -->
  <h3>Nhận thông báo cập nhật công việc theo bộ phận</h3>
  <p-table [value]="categories" class="category-list">
    <ng-template pTemplate="body" let-category>
      <!-- Danh mục cha -->
      <tr class="category-parent">
        <td>
          <p-checkbox
            [binary]="true"
            [ngModel]="isParentSelected(category)"
            (onChange)="toggleParentCategory(category)"
          ></p-checkbox>
        </td>
        <td>{{ category.name }}</td>
      </tr>
  
      <!-- Danh mục con -->
      <ng-container *ngIf="category.children">
        <ng-container *ngFor="let child of category.children">
          <tr class="category-child">
            <td style="padding-left: 30px;">
              <p-checkbox
                [binary]="true"
                [ngModel]="selectedCategories.includes(child.key)"
                (onChange)="onCheckboxChange(child.key, $event)"
              ></p-checkbox>
            </td>
            <td>{{ child.name }}</td>
          </tr>
  
          <!-- Danh mục con cấp 2 (chỉ hiển thị nếu có children) -->
          <ng-container *ngIf="child.children">
            <ng-container *ngFor="let subChild of child.children">
              <tr class="category-subchild">
                <td style="padding-left: 50px;">
                  <p-checkbox
                    [binary]="true"
                    [ngModel]="selectedCategories.includes(subChild.key)"
                    (onChange)="onCheckboxChange(subChild.key, $event)"
                  ></p-checkbox>
                </td>
                <td>{{ subChild.name }}</td>
              </tr>
            </ng-container>
          </ng-container>
        </ng-container>
      </ng-container>
    </ng-template>
  </p-table>
  
  
</div>
