.title_dl{
    text-align: center;
    font-weight: bold;
}
.p-dropdown {
    width: 100% !important;
    display: block; /* Giúp dropdown chiếm hết chiều rộng */
  }
.button_luu{
    margin-top: 10px;
}