  
  
<div class="container mt-3">
    <div class="d-flex justify-content-end mb-3 gap-2 ">
        <p-button 
        label="Lưu" 
        severity="success"
        icon="pi pi-save" 
        iconPos="right" 
        (onClick)="onSave.emit()">
      </p-button>

      <p-button 
      label="Làm mới"
      icon="fas fa-sync"
      iconPos="right"
      [ngClass]="'btn-light btn-sm padding-tb-3'"
      (onClick)="onReload.emit()">
    </p-button>
    
    </div>
    <p-fieldset legend="Công việc" [toggleable]="true" class="custom-fieldset">
      <ng-container *ngTemplateOutlet="template1; context: { data: congViecData }"></ng-container>
    </p-fieldset>
  
    <p-fieldset legend="Data" [toggleable]="true" class="custom-fieldset">
      <ng-container *ngTemplateOutlet="template1; context: { data: duLieuData }"></ng-container>
    </p-fieldset>
  </div>
  
  <ng-template #template1 let-abc="data">
    <div class="row">
      <ng-container *ngFor="let item of configLayout()">
        <div class="col-12 d-flex align-items-center custom-row">
            <span class="col-sm-5 col-4 fw-bold">{{ item.headerLeft }}</span>
            <div class="col-sm-7 col-8 d-flex align-items-center">
            <label>{{ item.headerRight }}:</label>
            <div class="form-group form-md-line-input padding-0 custom-data-box">
              {{ abc }}
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </ng-template>
  
  <ng-template #weekTemplate>
    <p-dropdown
      [options]="listDayOfWeek"
      [(ngModel)]="defineDateTime['value']['WEEK']"
      optionLabel="name"
      optionValue="id"
      class="w-100 custom-dropdown">
    </p-dropdown>
  </ng-template>
  
  <ng-template #monthTemplate>
    <p-dropdown
      [options]="listDayInMonth"
      [(ngModel)]="defineDateTime['value']['MONTH']"
      class="w-100 custom-dropdown">                  
    </p-dropdown>
  </ng-template>
  
  <ng-template #quarterTemplate>
    <p-calendar
      [(ngModel)]="defineDateTime['value']['QUARTER']"
      (onSelect)="chonNgayThang($event, 'QUARTER')"
      dateFormat="dd/mm"
      class="w-100 custom-calendar">
    </p-calendar>
  </ng-template>
  
  <ng-template #yearTemplate>
    <p-calendar
      [(ngModel)]="defineDateTime['value']['YEAR']"
      (onSelect)="chonNgayThang($event, 'YEAR')"
      view="year"
      dateFormat="yy"
      class="w-100 custom-calendar">
    </p-calendar>
  </ng-template>
  