<p-toolbar
  [style]="{
    'border-radius': '0',
    padding: '0.75rem 1.25rem',
    border: 'none',
    'background-color': '#fff'
  }"
>
  <ng-template pTemplate="start">
    <img [src]="logoQlcv" width="40" />
  </ng-template>

  <ng-template pTemplate="end">
    <div class="d-flex align-items-center gap-2">
      @if(session.userId) {
      <ng-container *ngTemplateOutlet="hasLogin"></ng-container>
      }@else {
      <ng-container *ngTemplateOutlet="notLogin"></ng-container>
      }
    </div>
  </ng-template>
</p-toolbar>

<ng-template #hasLogin>
  <!-- begin button tenant -->
  <p-splitButton
    label="Ilearn"
    icon="pi pi-building"
    size="small"
    [model]="listTenant"
    outlined="true"
    raised
  />
  <!-- end button tenant -->

  <!-- begin button ủy quyền  -->
  <p-button
    label="Ủy quyền"
    icon="pi pi-key"
    badgeClass="p-badge-contrast"
    outlined="true"
    size="small"
    (onClick)="op.toggle($event)"
    raised
  />
  <!-- end button ủy quyền  -->

  <!-- begin button trò chuyện -->
  <p-button
    label="Trò chuyện"
    icon="pi pi-comments"
    badge="2"
    badgeClass="p-badge-contrast"
    outlined="true"
    size="small"
    raised
  />
  <!-- end button trò chuyện -->

  <!-- begin button thông báo -->
  <p-button
    label="Thông báo"
    icon="pi pi-bell"
    badge="2"
    badgeClass="p-badge-contrast"
    outlined="true"
    size="small"
    raised
  />
  <!-- end button thông báo -->

  <!-- begin button user -->
  <p-splitButton
    label="Đinh thị thúy vui"
    icon="pi pi-user"
    size="small"
    [model]="listRoute"
    [styleClass]="'user'"
    outlined="true"
    raised
  />
  <!-- end button user -->
</ng-template>

<ng-template #notLogin>
  <!-- begin button đăng ký tài khoản -->
  <p-button
    label="Đăng ký tài khoản"
    icon="pi pi-user-plus"
    size="small"
    severity="success"
    raised
  />
  <!-- end button đăng ký tài khoản -->
  <!-- begin button đăng nhập -->
  <!-- <p-button
    label="Đăng nhập"
    icon="pi pi-sign-in"
    size="small"
    raised
    routerLink=""
  /> -->
  <a
    pButton
    pRipple
    label="Đăng nhập"
    icon="pi pi-sign-in"
    size="small"
    raised
    [style]="{ 'text-decoration': 'none' }"
    [attr.href]="urlLogin"
  ></a>
  <!-- end button đăng nhập -->
</ng-template>

<p-overlayPanel #op>
  <form
    (ngSubmit)="onUyQuyen(formUyQuyen.value)"
    [formGroup]="formUyQuyen"
    class="p-fluid d-flex align-items-center gap-3 flex-column"
  >
    <p-iconField>
      <p-inputIcon styleClass="pi pi-user" />
      <input
        pInputText
        type="email"
        required
        placeholder="Nhập Email ủy quyền"
        formControlName="emailAddress"
      />
    </p-iconField>
    <p-iconField>
      <p-inputIcon styleClass="pi pi-key" />
      <input
        pInputText
        type="text"
        required
        placeholder="Nhập mã ủy quyền"
        formControlName="code"
      />
    </p-iconField>

    <div class="d-flex gap-2 justify-content-between">
      <p-button
        type="button"
        size="small"
        icon="pi pi-check"
        label="Xác nhận"
        [disabled]="formUyQuyen.invalid"
        type="submit"
      ></p-button>
      <p-button
        type="button"
        size="small"
        icon="pi pi-refresh"
        outlined="true"
        severity="secondary"
        (onClick)="formUyQuyen.reset()"
        label="Làm mới"
      ></p-button>
    </div>
  </form>
</p-overlayPanel>
