<!-- app-tool-bar -->

<div class="dashboard">
    <div class="dashboard-header">
        <ul class="dashboard-menu">
            <li class="dashboard-menu__item active">
                <i class="fas fa-home"></i> Công việc
            </li>
            <li class="dashboard-menu__item">
                <i class="fas fa-database"></i> Dữ liệu
            </li>
            <li class="dashboard-menu__item">
                <i class="fas fa-search"></i> Tra cứu
            </li>
            <li class="dashboard-menu__item">
                <i class="fas fa-cogs"></i> Cấu hình
            </li>
            <li class="dashboard-menu__item">
                <i class="fas fa-list"></i> Quản lý danh mục
            </li>
            <li class="dashboard-menu__item">
                <i class="fas fa-plus-circle"></i> Tạo mới
            </li>
            <li class="dashboard-menu__item">
                <i class="fas fa-tools"></i> Hỗ trợ sửa lỗi
            </li>
        </ul>
    </div>
</div>
<div class="dashboard-content">
    <table class="table dashboard-table">    
        <app-dashboard-header style="display: contents;" (onReload)="onReload()"></app-dashboard-header>
        <app-dashboard-content style="display: contents;" #dashBoardContent></app-dashboard-content>
    </table>

</div>



    <!-- ---------------------------------------------Báo Cáo Nhanh ------------------------------------------------------------ -->
    <ng-template #actionBaoCaoNhanhTemplate let-group="group">
        <p>test thử</p>
    </ng-template>
  
    <ng-template #actionBaoCaoNhanhTemplate let-group="group">
        <p>test thử</p>
    </ng-template>
    <ng-template #actionBaoCaoNhanhTemplate let-group="group">
        <p>test thử</p>
    </ng-template>
    <ng-template #actionBaoCaoNhanhTemplate let-group="group">
        <p>test thử</p>
    </ng-template>
      <!-- ---------------------------------------------end------------------------------------------------------------ -->
