
.dashboard{
    width: 100%;

    background-color: #444d58;
}
.dashboard-header{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 65px;
    align-items: center;
}
.dashboard-menu{
    margin: unset;
}
.dashboard-menu__item{
    list-style: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    white-space: nowrap;
    float: left;
    font-size: 15px;
}
.dashboard-menu__item > i {
    margin-right: 3px;
}
.active{
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.8);
    color: #1f2124;
    font-weight: 500;
}


.table {
    border-collapse: collapse; /* Gộp các viền lại cho rõ ràng hơn */
    width: 100%;
}

.table th, .table td {
    border: 1px dotted rgba(0, 0, 0, 0.22);
    padding: 8px; /* Thêm padding để nội dung có khoảng cách với viền */
    text-align: left; /* Căn trái cho đẹp */
}


.input-search__dashboard{
    border-bottom: unset;
    margin-left: 7px;
    width: 65%;
    height: 100%;
}
.input-search__dashboard >i{
    font-size: 1rem;
    color: #c5cdda;
    margin-top: 3px;
    font-size: 15px;
    
}
.input-search__dashboard >i ::before{
 margin-top: 3px;
}
.input-search__dashboard >input{
    font-size: 1rem;
    margin-left:5px;
    // color: #c5cdda;
    font-size: 14px;
    padding: 8px;
}
.dashboard-search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
// .btn-lv{
//     width: 80px;
// }
// .btn-view-lv{
//     width: 100px;
// 
.btn-white{
    background: white;
}
