/* You can add global styles to this file, and also import other style files */
@import "bootstrap/scss/bootstrap-grid";
@import "bootstrap/scss/bootstrap-utilities";
@import "bootstrap/scss/forms";

// qill css for editor
@import "quill/dist/quill.core.css";
@import "quill/dist/quill.snow.css";

// prime css
@import "primeicons/primeicons.css";
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

// import spacing custom
// @import "scss/spacing";

// import font size custom
@import "scss/font-size";

// import table custom
@import "scss/table";

// dialog custom
.p-dialog-custom {
    .p-dialog-content {
        padding: 0;
    }

    .p-dialog-_content {
        padding: 0 1.5rem 2rem 1.5rem;
    }
}

.p-dialog-footer, .p-dialog-header {
    background-color: var(--primary-50, #dee1e6);
    padding: 1rem 1.5rem;
}

.ng-invalid .invalid-feedback {
    display: block;
}

html {
    font-size: 13px;
}

body {
    margin: 0;
    padding: 0;
    color: #3b4151;
    font-size: 13px;
    // font-weight: 400;
    // line-height: 20px;
    font-family: Roboto, sans-serif;
    // letter-spacing: .0178571429em;
}

.input-base {
    width: 100%;
    height: 25px;
    position: relative;
    display: flex;
    align-items: center;
    width: fit-content;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3); /* Đường viền bình thường */
}

.search-input {
    border: none;
    width: 100%;
    height: 100%;
    outline: none;
}

/* Đường viền focus chạy từ giữa ra */
.input-base::after {
    content: "";
    position: absolute;
    left: 50%; /* Bắt đầu từ giữa */
    bottom: -2px; /* Đặt ngay dưới viền mặc định */
    height: 2px;
    width: 0; /* Bắt đầu với độ rộng 0 */
    background-color: #22c55e; /* Màu gạch chân khi focus */
    transition: width 0.2s ease, left 0.2s ease; /* Hiệu ứng chuyển động */
    transform: translateX(-50%); /* Để giữ đường viền ở giữa */
}

/* Mở rộng đường viền khi input bên trong container được focus */
.input-base:focus-within::after {
    width: 100%; /* Mở rộng từ giữa ra */
}

/* Đường viền thu lại đồng đều khi không focus */
.input-base:not(:focus-within)::after {
    width: 0; /* Thu lại về kích thước 0 */
    left: 50%; /* Giữ đường viền ở giữa khi thu lại */
    transform: translateX(-50%); /* Để giữ đường viền ở giữa */
}
.btn{
    background: unset;
    border: unset;
    color: black;
    min-width: 80px;
    min-height: 25px;
}
.btn-light{
    color: black;
}
.p-button:focus {
    outline: none !important;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
    border: none;
} 